:root{
    --color-for-lifestyle: #03A9F4;
    --color: #7D7D7D;
    --color-oo: #B4AD9E;
    --color-o: #626262;
}

.lifestyle{
    color: var(--color-for-lifestyle);
}

.container{
max-width: 906px;
margin: 0 auto;
list-style: none;
margin: 0 auto;
outline: dotted 2px red ;
margin-bottom: 94px;
margin-top: 71px;
}

.others{
    color: var(--color);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    display: flex;
}

.container a{
    text-decoration: none;
}

.ul-header{
width: 906px;
margin: 0 auto;
border: dotted 2px red ;
margin-top: 92px;
list-style: none;
}

.button{
    margin-top: 94px;
    background-color: none;
    width: 165px;
    height: 60px;
    margin-bottom: 66px;
    margin-left: 357px;
}

.flex-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    padding-left: 0px;
    gap: 35px;
}

.box-1{
    width: 426px;
    flex-direction: row;
}

.playfair-font{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 14px;
}